/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  background-color: rgba(3, 26, 64, 1);
  color: rgb(231, 145, 191);
  font-family: 'Space Mono', monospace;
}
h1 {
  font-size: 2rem;
}
input,
button {
  background-color: rgb(48, 18, 76);
  border: none;
  margin: .3em;
}
.blocks {
  width: 95%;
  margin: auto;
}
h2 {
  text-align: center;
  font-size: 4em;

}
p {
 
  color: rgb(238, 191, 133);
  font-weight: 100;
  font-size: 1.5em;
  text-align: justify;
  text-justify: inter-word;
  display: inline;
  line-height: 1.5;
}
/******************************************
/* LAYOUT
/*******************************************/
img, iframe{
  float: left;
  margin: 0 auto;
  max-height: 800px;
  border: 3em solid black;
  margin: 0 3% 0 0;
}
header {
  display: flex;
}
image, p {
  width: 50%;
 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
::selection {
  color: black;
  background:rgb(238, 191, 133);
}
